@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

html, body {
    background-color: black;

    height: 100vh;
    width: 100vw;
}

body {
    background: url(./imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}

main {
    height: 100vh;
    position: relative;

}

#telefone {
    background-image: url(./imagens/frame-iphone.png);
    background-repeat: no-repeat;

    height: 470px;
    width: 233px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#tela {
    position: relative;
    top: 60px;
    left: 16px;
    width: 201px;
    height: 353px;
}

#redesSociais {
    text-align: right;
}

#redesSociais > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
    box-sizing: border-box;
}

#redesSociais  img:hover {
    border: 2px solid rgba(255, 255, 255, 0.33);
    transform: translate(-3px, 3px);
    transition: transform .2s, border .1s;
}