@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: var(--font1);
    background-color: darkgray;

    min-height: 100vh;
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header>h1 {
    font-family: var(--font2);
    font-size: 10vw;

    padding-top: 50px;
    font-variant: small-caps;
}

header>p {
    padding-bottom: 50px;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    font-size: 3.5vw;
    line-height: 2em;

    padding: 10vh 0vh 10vh 30px;
}

section>p {
    padding-bottom: 2em;
}

.normal {
    color: black;
    background-color: white;
}

.imagem {
    color: white;
    background-color: rgb(45, 45, 45);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.522);
}

.imagem>p {
    text-shadow: 1.5px 1.5px 1.5px black;
    background-color: rgba(0, 0, 0, 0.507);

    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    
}

#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    color: white;
    background-color: black;
    text-align: center;

    padding: 10px;
}